{% load static %}
  
<link rel="stylesheet" type="text/css" href="{% static 'sightings/style.css' %}">

<!DOCTYPE html>
<html>
    <head>
    <title>Add a new squirrel sighting</title>
    </head>
    <body>
        <h1>Add a new squirrel sighting</h1>
        <form action="" method="POST">
        {% csrf_token %}
	<ul>
	<li>Latitude:<input type='number' step=any name='latitude'>
	</li>
	<li>Longitude:<input type="number" step=any name="longitude">
	</li>
	<li>Unique_Squirrel_ID:<input type="text" name="unique_squirrel_id">
	</li>
        <li>Shift:<input type="radio" name="shift" value="AM">AM
		<input type="radio" name="shift" value="PM">PM
        </li>
        <li>Date:<input type="date" name="date">
        </li>
        <li>Age:<input type="radio" name="age" value="Adult">Adult
                <input type="radio" name="age" value="Juvenile">Juvenile
		<input type="radio" name="age" value="Other">Other
        </li>
       <li>Primary_Fur_Color:<input type="radio" name="primary_fur_color" value="Gray">Gray
	                      <input type="radio" name="primary_fur_color" value="Cinnamon">Cinnamon
			      <input type="radio" name="primary_fur_color" value="Black">Black
			      <input type="radio" name="primary_fur_color" value="Other">Other
        </li>
	<li>Location:<input type="radio" name="location" value="Above Ground">Above Ground
		     <input type="radio" name="location" value="Ground Plane">Ground Plane
		     <input type="radio" name="location" value="Other">Other
        </li>
        <li>Specific_Location:<input type="text" name="specific_location">
        </li>
        <li>Running:<input type="radio" name="running" value="True">True
		    <input type="radio" name="running" value="False">False
        </li>
	<li>Chasing:<input type="radio" name="chasing" value="True">True
                    <input type="radio" name="chasing" value="False">False
        </li>
	<li>Climbing:<input type="radio" name="climbing" value="True">True
                     <input type="radio" name="climbing" value="False">False
        </li>
        <li>Eating:<input type="radio" name="eating" value="True">True
                   <input type="radio" name="eating" value="False">False
        </li>
	<li>Foraging:<input type="radio" name="foraging" value="True">True
                     <input type="radio" name="foraging" value="False">False
        </li>
	<li>Other_Activities:<input type="text" name="other_activities">
	</li>
        <li>Kuks:<input type="radio" name="kuks" value="True">True
                 <input type="radio" name="kuks" value="False">False
        </li>
	<li>Quaas:<input type="radio" name="quaas" value="True">True
                  <input type="radio" name="quaas" value="False">False
        </li>
	<li>Moans:<input type="radio" name="moans" value="True">True
                  <input type="radio" name="moans" value="False">False
        </li>
        <li>Tail_Flags:<input type="radio" name="tail_flags" value="True">True
                       <input type="radio" name="tail_flags" value="False">False
        </li> 
	<li>Tail_Twitches:<input type="radio" name="tail_twitches" value="True">True
                          <input type="radio" name="tail_twitches" value="False">False
        </li>
	<li>Approaches:<input type="radio" name="approaches" value="True">True
                       <input type="radio" name="approaches" value="False">False
        </li>
        <li>Indifferent:<input type="radio" name="indifferent" value="True">True
                        <input type="radio" name="indifferent" value="False">False
        </li>
	<li>Runs_From:<input type="radio" name="runs_from" value="True">True
                 <input type="radio" name="runs_from" value="False">False
        </li>
	</ul>
	<br>
        <input type="submit" value="Add">
        <!-- returns to users page (index.html) -->
        <a href='{% url 'sightings:index'%}'>Go to main page</a>
        </form>
    </body>
</html>
