{% load static %}
  
<link rel="stylesheet" type="text/css" href="{% static 'sightings/style.css' %}">

<!DOCTYPE html>
<html>
<head>
	<title> sighting stats </title> 
</head>
<body>
<ul> 
	<li>The total amount of sightings is {{sightings_stats1}}</li>
	<li>The amount of black fur squirrels is {{sightings_stats2}}</li>
	<li>The amount of gray fur squirrels is {{sightings_stats3}}</li>
	<li>The amount of adult squirrels is {{sightings_stats4}}</li>
	<li>The amount of juvenile squirrels is {{sightings_stats5}}</li>
</ul>

</body>
</html>
