{% load static %}
  
<link rel="stylesheet" type="text/css" href="{% static 'sightings/style.css' %}">

<!DOCTYPE html>
<html>
<head>
        <title> sighting stats </title>
</head>
<body>
<ul>
        <li>The total amount of sightings is {{Stat1}}</li>
        <li>The amount of black fur squirrels is {{Stat2}}</li>
        <li>The amount of gray fur squirrels is {{Stat3}}</li>
	<li>The amount of adult squirrels is {{Stat4}}</li>
        <li>The amount of juvenile squirrels is {{Stat5}}</li>
</ul>

</body>
</html>
