<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"

   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="

   crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"

   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="

   crossorigin=""></script>
	</head>

	<body><h1>all sightings of squirrels</h1>
		<div id='m' style='width:1920px;height:1080px;'></div>

		 <script type='text/javascript'>

		 var m=L.map('m').setView([-73.9654,40.7829],12);
		 L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		 attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'}).addTo(m);

		{% for obj in list_all %}
		L.marker([{{obj.Latitude}},{{obj.Longitude}}]).addTo(m);
		{% endfor %}
		</script>

	</body>
</html>
